<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="io.opentelemetry.instrumentation.log4j.appender.v2_17">

    <Properties>
        <property name="ROOT_LOG_LEVEL">INFO</property> <!-- default value if not set -->
        <property name="APP_LOG_LEVEL">DEBUG</property> <!-- default value if not set -->
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{green} %highlight{%-5level} trace_id: %X{trace_id} span_id=%X{span_id} [%style{%t}{bright,blue}] %style{%c{1.}}{bright,yellow}: %msg%n%throwable"/>
        </Console>
        <OpenTelemetry name="OpenTelemetryAppender"/>
    </Appenders>

    <Loggers>
        <Root level="${ROOT_LOG_LEVEL}">
            <AppenderRef ref="OpenTelemetryAppender" level="All"/>
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.epam" level="${APP_LOG_LEVEL}"/>
    </Loggers>

</Configuration>
